body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --button-background: #007bff;
  --button-text: #ffffff;
}

.dark-mode {
  --background-color: #121212;
  --text-color: #ffffff;
  --button-background: #333333;
  --button-text: #ffffff;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--button-background);
  color: var(--button-text);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
